/* ----------------- *\

		COMMON
		
\* ----------------- */


html, body {
	height: 100%;
	overflow: hidden;
}

.__no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.__hidden {
	display: none;
}





/* ----------------- *\

		HEADER
		
\* ----------------- */


nav {
    background: #2F4F4F;
	color: #87DD95;
	font-size: 4rem;
    font-weight: 400;
	line-height: 80px;
    min-height: 80px;
	position: relative;
	text-align: center;
    width: 100%;
}

nav i:hover {
	color: #82C88D;
	cursor: default;
}

#btn_info {
	line-height: inherit !important;
	position: absolute;
	right: 1rem;
}





/* ----------------- *\

		WRAPPER
		
\* ----------------- */


.app-cnt {
	height: calc(100% - 120px);
}





/* ----------------- *\

	    SECTIONS
		
\* ----------------- */


section {
	height: 100%;
	position: relative;
	width: calc(50% - 1px);
}

.src-cnt {
	border-right: 2px ridge #ACB8B4;
	float: left;
}

.dst-cnt {
	float: right;
}

section i {
	color: #808080;
	font-size: 2rem !important;
	position: absolute;
	right: 0;
	top: 0;
}

section i:hover {
	color: #222;
	cursor: pointer;
}





/* ----------------- *\

	    TEXTAREA
		
\* ----------------- */


textarea {
	background: #F3EFE4;
	border: 0;
	border-radius: 0;
	height: 100%;
	padding-right: 15px;
	resize: none;
	width: 100%;
}

textarea:focus {
	border: 0;
}





/* ----------------- *\

		FOOTER
		
\* ----------------- */


footer {
	background: #2F4F4F;
	color: #87DD95;
	font-size: .8rem;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;
}

footer a {
	color: #87DD95;
	text-decoration: none;
}





/* ----------------- *\

		POPUP
		
\* ----------------- */


.pp-overlay {
	background: rgba(0, 0, 0, .6);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.pp-info {
	background: #C0C0C0;
	border: 2px solid #fff;
	box-sizing: border-box;
	display: none;
	left: 50%;
	margin-left: -250px;
	padding: 20px;
	width: 500px;
	position: fixed;
	top: 120px;
	z-index: 1001;
}