/* ----------------- *\

		COMMON
		
\* ----------------- */


html, body {
	height: 100%;
	overflow: hidden;
}

.__no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





/* ----------------- *\

		HEADER
		
\* ----------------- */


nav {
    background: #2F4F4F;
	color: #87DD95;
	font-size: 4rem;
    font-weight: 400;
	line-height: 80px;
    min-height: 80px;
	text-align: center;
    width: 100%;
}

nav i:hover {
	color: #82C88D;
	cursor: default;
}

#sidebar_switcher {

}



/* ----------------- *\

		WRAPPER
		
\* ----------------- */


.app-cnt {
	height: calc(100% - 120px);
}





/* ----------------- *\

	    SECTIONS
		
\* ----------------- */


section {
	height: 100%;
	position: relative;
	width: calc(50% - 1px);
}

.src-cnt {
	border-right: 2px ridge #ACB8B4;
	float: left;
}

.dst-cnt {
	float: right;
}

section i {
	position: absolute;
}





/* ----------------- *\

	    TEXTAREA
		
\* ----------------- */


textarea {
	background: #F3EFE4;
	border: 0;
	border-radius: 0;
	height: 100%;
	resize: none;
	width: 100%;
}

textarea:focus {
	border: 0;
}





/* ----------------- *\

		FOOTER
		
\* ----------------- */


footer {
	background: #2F4F4F;
	color: #87DD95;
	font-size: .8rem;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;
}

footer a {
	color: #87DD95;
	text-decoration: none;
}