/* ----------------- *\

		COMMON
		
\* ----------------- */


html, body {
	height: 100%;
	overflow: hidden;
}

.__no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





/* ----------------- *\

		HEADER
		
\* ----------------- */


nav {
    background: #2F4F4F; /* #567172 */ /* #91BFDB */ /* #4575B4 */
	font-size: 1.2rem;
    font-weight: 400;
	line-height: 80px;
    min-height: 80px;
    width: 100%;
}

#sidebar_switcher {

}



/* ----------------- *\

		WRAPPER
		
\* ----------------- */


.app-cnt {
	height: calc(100% - 120px);
}





/* ----------------- *\

	    SECTIONS
		
\* ----------------- */


section {
	height: 100%;
	width: calc(50% - 1px);
}

.src-cnt {
	border-right: 2px ridge #ACB8B4; /* #ababab */
	float: left;
}

.dst-cnt {
	float: right;
}





/* ----------------- *\

	    TEXTAREA
		
\* ----------------- */


textarea {
	background: #F3EFE4;
	height: 100%;
	resize: none;
	width: 100%;
}





/* ----------------- *\

		FOOTER
		
\* ----------------- */


footer {
	background: #2F4F4F; /* #42545A; */ /* #39647E */ /* #1C5F83 */
	color: #87DD95;
	font-size: .8rem;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;
}

footer a {
	color: #87DD95;
	text-decoration: none;
}