/* ----------------- *\

		COMMON
		
\* ----------------- */


html, body {
	height: 100%;
	overflow: hidden;
}

.__hidden {
	display: none;
}





/* ----------------- *\

		HEADER
		
\* ----------------- */


nav {
    background: #2F4F4F;
	box-sizing: border-box;
	color: #87DD95;
	font-size: 4rem;
    font-weight: 400;
	height: 80px;
	line-height: 80px;
	padding-left: 1rem;
	position: relative;
    width: 100%;
}

nav i:hover {
	color: #82C88D;
	cursor: default;
}

#btn_info {
	line-height: inherit !important;
	position: absolute;
	right: 1rem;
}





/* ----------------- *\

		WRAPPER
		
\* ----------------- */


.app-cnt {
	height: calc(100% - 120px);
}





/* ----------------- *\

	    SECTIONS
		
\* ----------------- */


section {
	height: 100%;
	position: relative;
	width: calc(50% - 1px);
}

.src-cnt {
	border-right: 2px ridge #ACB8B4;
	float: left;
}

.dst-cnt {
	float: right;
}

section i {
	color: #808080;
	font-size: 2rem !important;
	position: absolute;
	right: 16px;
	top: 0;
}

section i:hover {
	color: #222;
	cursor: pointer;
}





/* ----------------- *\

	    TEXTAREA
		
\* ----------------- */


textarea {
	background: #F3EFE4;
	border: 0;
	border-radius: 0;
	height: 100%;
	padding-right: 15px;
	resize: none !important;
	width: 100%;
}

textarea:focus {
	border: 0;
}





/* ----------------- *\

		FOOTER
		
\* ----------------- */


footer {
	background: #2F4F4F;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;
}





/* ----------------- *\

		POPUP
		
\* ----------------- */


#pp_overlay {
	background: rgba(0, 0, 0, .6);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#pp_info {
	background: #C0C0C0;
	border: 2px solid #fff;
	box-sizing: border-box;
	font-size: 1.2rem;
	left: 50%;
	margin-left: -250px;
	padding: 20px;
	width: 500px;
	position: fixed;
	top: 120px;
	z-index: 1001;
}

#pp_info h5, .pp-info-btn {
	text-align: center;
}

#pp_info_close {
	background: #2F4F4F;
	border: 0 none;
	border-radius: 0;
	color: #87DD95;
}

#pp_info .license {
	border: 1px solid #fff;
	box-sizing: border-box;
	height: 150px;
	margin-bottom: 2.5rem;
	overflow-y: scroll;
	padding: 5px;
}

#pp_info a {
	color: #2F4F4F;
}

#pp_info a:hover {
	color: #222;
}





/* ----------------- *\

		IFRAME
		
\* ----------------- */


#search_box {
	height: 400px;
	width: 600px;
}